@tailwind base;
@tailwind components;

p {
   margin-bottom: 1rem;
}

.bg {
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   scroll-snap-align: start;
}

.bg-header {
   background-image: linear-gradient(to bottom, rgba(0, 0, 202, 0.25), rgba(17, 34, 68, 0.54)),
   url('../img/bg/ben-rosett-xI_-wFJhCiM-unsplash.jpg');
}

.bg-fireworks {
   background-image: linear-gradient(to bottom, rgba(0, 0, 101, 0.55), rgba(17, 34, 68, 0.74)),
   url('../img/bg/erwan-hesry-WPTHZkA-M4I-unsplash.jpeg')
}

@tailwind utilities;
